In [5]:
import numpy as np
import pandas as pd
from pathlib import Path

In [7]:
# CO2 and Greenhouse Gas Emissions dataset
# The CSV and XLSX files follow a format of 1 row per location and year. The JSON version is split by country, with an array of yearly records.
#The variables represent all of our main data related to CO2 emissions, other greenhouse gas emissions, energy mix, as well as other variables of potential interest.

data_path = "\\data\\"
owid_data_name = "owid-co2-data.csv"
owid_data_path = str(Path().absolute()) + data_path + owid_data_name
owid = pd.read_csv(owid_data_path)

In [10]:
owid.head(1)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
owid.describe()

,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
count,48058.000000,3.949500e+04,1.456400e+04,23764.000000,22017.000000,30308.000000,28157.000000,25136.000000,23320.000000,23030.000000,...,2593.000000,41724.000000,37620.000000,41724.000000,41724.000000,37620.000000,6354.000000,6354.000000,4398.000000,4397.000000
mean,1926.842565,6.083223e+07,2.677586e+11,9.109400,0.066798,391.272161,5.868310,20.055703,534.225708,7.445587,...,19.199870,2.190116,0.002956,0.006886,0.010069,0.000497,790.430981,759.384745,-7.157874,20.368010
std,59.414846,3.285867e+08,2.103151e+12,66.463548,0.125367,1855.824655,59.845871,687.366449,2164.644277,97.593192,...,33.432368,9.012474,0.016068,0.039698,0.057196,0.002943,3610.534250,3531.641287,269.156220,52.720717
min,1750.000000,2.220000e+02,4.998000e+07,0.000000,0.000000,0.000000,-2032.366000,-100.000000,-187.847000,-2334.695000,...,0.000000,-0.899000,-0.001000,0.000000,-0.001000,0.000000,-186.660000,0.010000,-2367.758000,-99.795000
25%,1883.000000,3.464375e+05,7.516679e+09,0.000000,0.000000,0.183000,0.000000,-0.733500,5.950750,-0.752750,...,0.249000,0.003000,0.000000,0.000000,0.000000,0.000000,8.450000,7.042500,-3.024750,-6.287000
50%,1930.000000,2.456362e+06,2.597999e+10,0.029000,0.008000,3.856000,0.026000,3.749500,27.777000,0.071000,...,1.431000,0.071000,0.000000,0.000000,0.000000,0.000000,38.285000,30.830000,1.478500,8.741000
75%,1976.000000,1.008038e+07,1.132942e+11,0.834000,0.093000,47.277250,0.873000,10.593500,124.373750,2.568500,...,19.405000,0.329000,0.001000,0.001000,0.001000,0.000000,153.595000,131.512500,9.124000,32.512000
max,2022.000000,7.975105e+09,1.136302e+14,1692.404000,2.574000,37149.785000,1813.064000,102318.508000,41637.617000,2340.859000,...,100.000000,100.000000,0.415000,1.113000,1.611000,0.083000,49880.602000,48089.621000,2187.777000,576.482000

## Canada Emissions Data Load

In [12]:
# CO2 Emission by Vehicles in Canada

co2_canada_data_name = "CO2_Emissions_Canada.csv"
co2_canada_data_path = str(Path().absolute()) + data_path + co2_canada_data_name
can_emissions = pd.read_csv(co2_canada_data_path)

In [15]:
can_emissions.head(1)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196

In [16]:
can_emissions.describe()

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
count,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000
mean,3.160068,5.615030,12.556534,9.041706,10.975071,27.481652,250.584699
std,1.354170,1.828307,3.500274,2.224456,2.892506,7.231879,58.512679
min,0.900000,3.000000,4.200000,4.000000,4.100000,11.000000,96.000000
25%,2.000000,4.000000,10.100000,7.500000,8.900000,22.000000,208.000000
50%,3.000000,6.000000,12.100000,8.700000,10.600000,27.000000,246.000000
75%,3.700000,6.000000,14.600000,10.200000,12.600000,32.000000,288.000000
max,8.400000,16.000000,30.600000,20.600000,26.100000,69.000000,522.000000

## USA (EPA) Emissions Data Load

- vehicle documentation
    - atvtype - type of alternative fuel or advanced technology vehicle
    - barrels08 - annual petroleum consumption in barrels for fuelType1 (1)
    - barrelsA08 - annual petroleum consumption in barrels for fuelType2 (1)
    - charge120 - time to charge an electric vehicle in hours at 120 V
    - charge240 - time to charge an electric vehicle in hours at 240 V
    - city08 - city MPG for fuelType1 (2), (11)
    - city08U - unrounded city MPG for fuelType1 (2), (3)
    - cityA08 - city MPG for fuelType2 (2)
    - cityA08U - unrounded city MPG for fuelType2 (2), (3)
    - cityCD - city gasoline consumption (gallons/100 miles) in charge depleting mode (4)
    - cityE - city electricity consumption in kw-hrs/100 miles
    - cityUF - EPA city utility factor (share of electricity) for PHEV
    - co2 - tailpipe CO2 in grams/mile for fuelType1 (5)
    - co2A - tailpipe CO2 in grams/mile for fuelType2 (5)
    - co2TailpipeAGpm - tailpipe CO2 in grams/mile for fuelType2 (5)
    - co2TailpipeGpm- tailpipe CO2 in grams/mile for fuelType1 (5)
    - comb08 - combined MPG for fuelType1 (2), (11)
    - comb08U - unrounded combined MPG for fuelType1 (2), (3)
    - combA08 - combined MPG for fuelType2 (2)
    - combA08U - unrounded combined MPG for fuelType2 (2), (3)
    - combE - combined electricity consumption in kw-hrs/100 miles
    - combinedCD - combined gasoline consumption (gallons/100 miles) in charge depleting mode (4)
    - combinedUF - EPA combined utility factor (share of electricity) for PHEV
    - cylinders - engine cylinders
    - displ - engine displacement in liters
    - drive - drive axle type
    - emissionsList
    - engId - EPA model type index
    - eng_dscr - engine descriptor; see http://www.fueleconomy.gov/feg/findacarhelp.shtml#engine
    - evMotor - electric motor (kw-hrs)
    - feScore - EPA Fuel Economy Score (-1 = Not available)
    - fuelCost08 - annual fuel cost for fuelType1 ($) (7)
    - fuelCostA08 - annual fuel cost for fuelType2 ($) (7)
    - fuelType - fuel type with fuelType1 and fuelType2 (if applicable)
    - fuelType1 - fuel type 1. For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
    - fuelType2 - fuel type 2. For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG). For single fuel vehicles, this field is not used
    - ghgScore - EPA GHG score (-1 = Not available)
    - ghgScoreA - EPA GHG score for dual fuel vehicle running on the alternative fuel (-1 = Not available)
    - guzzler- if G or T, this vehicle is subject to the gas guzzler tax
    - highway08 - highway MPG for fuelType1 (2), (11)
    - highway08U - unrounded highway MPG for fuelType1 (2), (3)
    - highwayA08 - highway MPG for fuelType2 (2)
    - highwayA08U - unrounded highway MPG for fuelType2 (2),(3)
    - highwayCD - highway gasoline consumption (gallons/100miles) in charge depleting mode (4)
    - highwayE - highway electricity consumption in kw-hrs/100 miles
    - highwayUF - EPA highway utility factor (share of electricity) for PHEV
    - hlv - hatchback luggage volume (cubic feet) (8)
    - hpv - hatchback passenger volume (cubic feet) (8)
    - id - vehicle record id
    - lv2 - 2 door luggage volume (cubic feet) (8)
    - lv4 - 4 door luggage volume (cubic feet) (8)
    - make - manufacturer (division)
    - mfrCode - 3-character manufacturer code
    - model - model name (carline)
    - mpgData - has My MPG data; see yourMpgVehicle and yourMpgDriverVehicle
    - phevBlended - if true, this vehicle operates on a blend of gasoline and electricity in charge depleting mode
    - pv2 - 2-door passenger volume (cubic feet) (8)
    - pv4 - 4-door passenger volume (cubic feet) (8)
    - rangeA - EPA range for fuelType2
    - rangeCityA - EPA city range for fuelType2
    - rangeHwyA - EPA highway range for fuelType2
    - trans_dscr - transmission descriptor; see http://www.fueleconomy.gov/feg/findacarhelp.shtml#trany
    - trany - transmission
    - UCity - unadjusted city MPG for fuelType1; see the description of the EPA test procedures
    - UCityA - unadjusted city MPG for fuelType2; see the description of the EPA test procedures
    - UHighway - unadjusted highway MPG for fuelType1; see the description of the EPA test procedures
    - UHighwayA - unadjusted highway MPG for fuelType2; see the description of the EPA test procedures
    - VClass - EPA vehicle size class
    - year - model year
    - youSaveSpend - you save/spend over 5 years compared to an average car ($). Savings are positive; a greater amount spent yields a negative number. For dual fuel vehicles, this is the cost savings for gasoline
    - sCharger - if S, this vehicle is supercharged
    - tCharger - if T, this vehicle is turbocharged
    - c240Dscr - electric vehicle charger description
    - charge240b - time to charge an electric vehicle in hours at 240 V using the alternate charger
    - c240bDscr - electric vehicle alternate charger description
    - createdOn - date the vehicle record was created (ISO 8601 format)
    - modifiedOn - date the vehicle record was last modified (ISO 8601 format)
    - startStop - vehicle has stop-start technology (Y, N, or blank for older vehicles)
    - phevCity - EPA composite gasoline-electricity city MPGe for plug-in hybrid vehicles
    - phevHwy - EPA composite gasoline-electricity highway MPGe for plug-in hybrid vehicles
    - phevComb - EPA composite gasoline-electricity combined city-highway MPGe for plug-in hybrid vehicles
    - basemodel - base model name

In [24]:
# CO2 Emission by Vehicles in USA (EPA)

co2_epa_data_name = "CO2_Emissions_EPA.csv"
co2_epa_data_path = str(Path().absolute()) + data_path + co2_epa_data_name
epa_emissions = pd.read_csv(co2_epa_data_path, low_memory=False)

In [29]:
epa_emissions.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'baseModel',
       'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2',
       'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [26]:
epa_emissions.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,47253.000000,47253.000000,47253.0,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,...,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000,47253.000000
mean,15.219754,0.190870,0.0,0.149764,19.466298,8.683378,0.899625,0.775301,0.000503,0.895103,...,24.790340,1.201458,35.777930,0.990381,2004.186761,-4963.663683,0.015523,0.313081,0.315345,0.312700
std,4.431153,0.978811,0.0,1.175425,11.308898,15.265162,6.837920,6.774541,0.036720,6.399046,...,16.179718,9.672873,14.509825,6.647681,12.475800,4030.709148,0.321944,4.046862,3.905789,3.957264
min,0.047081,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-35500.000000,0.000000,0.000000,0.000000,0.000000
25%,12.396250,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.660400,0.000000,28.124300,0.000000,1993.000000,-7500.000000,0.000000,0.000000,0.000000,0.000000
50%,14.875500,0.000000,0.0,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,0.000000,33.800000,0.000000,2005.000000,-4750.000000,0.000000,0.000000,0.000000,0.000000
75%,17.500588,0.000000,0.0,0.000000,21.000000,17.477800,0.000000,0.000000,0.000000,0.000000,...,26.666700,0.000000,39.995800,0.000000,2015.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
max,42.501429,16.528333,0.0,19.000000,153.000000,155.824200,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,187.100000,173.143600,2024.000000,8750.000000,9.600000,97.000000,81.000000,89.000000